{{ range $backend := .mayfly_backends }}
  {{ range $version := $backend.Nodes }}
    {{ range $server := $version.Nodes }}
UUID: {{ $server.Key }}
Location: {{ $server.Value }}
    {{ end }}
  {{ end }}
{{ end }}
