global
  daemon
  maxconn 256

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend router 
  bind *:80

{% for prefix in environments['prefixes'] %}  
  acl www_in hdr_beg(host) {{ prefix }}.
{%- endfor %}
  
{% for service in environments['services'] %}
  acl {{service}}.service hdr(host) -i {{service}}.service
{%- endfor %}

{% for environment in environments['environments'] %} 
  acl env_{{environment['env_name']}} hdr_beg(host) {{environment['env_prefix']}}. 
  acl env_{{environment['env_name']}} hdr(x-mayfly) -i {{environment['env_header']}} 
  reqadd x-mayfly:\ {{environment['env_header']}} if www_in env_{{environment['env_name']}}
{% endfor %}
  
  use_backend frontend.service_0.0.1 if env_prod www_in
  use_backend frontend.service_0.0.2 if env_dev  www_in
  use_backend frontend.service_0.0.1 if env_qa   www_in

{% for backend in environments['backends'] %}
  use_backend {{backend['service_name']}}.service_{{backend['version']}} if env_{{backend['env_name']}} {{backend['service_name']}}.service
{%- endfor %}

{% for name, locations in backends.items() -%}
backend {{ name }}
  {%- for n, location in enumerate(locations) %}
  server server{{ n }} {{ location }} maxconn 32
  {%- endfor %}

{% endfor %}
